.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-container {
  display: flex;
  background-color: #E1DCAD;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Set the container height to 100% of the viewport height */
   /* Hide any overflowing content */
}

/* App.css or your custom CSS file */


/*.photo-slider {
   Add styling for your photo slider 
}*/
/* Home.css */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 20px; /* Add padding to the card grid */
  min-height: calc(100vh - 150px); /* Adjust the max-height to leave space for the header and other elements */
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
}

.card {
  background-color: #f9e65f;
  border-radius: 10px;
  border: 2px solid #24184e;
  width:330px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  align-items: left;
}
.card1 {
  background-color: #D0D872;
  border-radius: 10px;
  width:330px;
  
  padding: 20px;
  
  justify-content: space-between;
  align-items: left;
}

.title {
  background-color: #c93114;
  color: white;
  margin: -20px -20px 0; /* Negative margins to align with card corners and remove space */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: calc(100% + 40px); /* Adjust width to account for negative margins */
  text-align: center;
  padding: 10px 0; /* Add padding only for the inner content */
}

.card-grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.event-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  height: 250px;
  text-align: center;
}

.content {
  color: #00408a;
  padding: 10px;
  text-align: left;
}
.content ul {
  list-style-type: none;
  padding-left: 0;
}

.content ul li::before {
  content: '▶ ';
}

.content ul li a {
  text-decoration: none;
  
}
.custom-carousel {
 width:1200px;
 /* Center the carousel horizontally */
  padding: 0 20px;/* Add padding to the left and right */
}
