/* style.css */
header {
	width: 100%;
	height: auto;
	text-align: center;
	z-index: 100;
	transition: all 0.1s ease;
	background-color: rgba(230, 134, 71, 0.951);
	margin: 0; /* Remove default margin */
	padding: 0; /* Remove default padding */
  }
  
  .header-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%; /* Make the container take full height of the header */
	margin: 0; /* Remove default margin */
	padding: 0; /* Remove default padding */
  }
  
  header img {
	max-width: 100%;
	max-height: 60%; /* Adjust the max-height as needed */
	width: auto;
	height: auto;
	
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: 100;
	transition: all 0.1s ease;
	display: flex;
	margin: 0 auto;
  }
  
  header nav {
	width: 100%;
	background-color: #F9E65F;
	display: flex;
	justify-content: center;
	margin: 0; /* Remove default margin */
	padding: 0; /* Remove default padding */
  }
  
  header nav a {
	color: #0000FF;
	display: flex;
	padding: 10px 15px;
	text-decoration: none;
	font-weight: bold;
	margin: 0; /* Remove default margin */
	font-size: 16px; /* Adjust font size */
  }
  
  /* Add styles for responsive design, adjust breakpoints as needed */
  @media screen and (max-width: 768px) {
	header {
	  height: auto;
	}
	
	header img {
	  font-size: 36px;
	}
  
	header nav {
	  bottom: 0;
	  background-color: #F9E65F;
	  padding: 5px 0;
	}
	
	header nav a {
	  padding: 5px 10px;
	  font-size: 12px;
	}

	
  }
  
  /* Footer style.css */
/* style.css */
/* Add your existing CSS styles */

.footer-container {
	background-color: #33620D;
	color: white;
	padding: 0 10px; /* Reduce padding for smaller screens */
  }
  
  .left-section, .right-section, .social-section, .copyright-section {
	flex: 1;
	min-width: 200px;
	margin-bottom: 20px;
  }
  
  .left-section {
	text-align: left;
	vertical-align: middle;
  }
  
  .right-section {
	text-align: right;
	vertical-align: middle;
  }

  .social-section, .copyright-section {
	text-align: center; /* Center align content for smaller screens */
  }
  
  .left-section h3, .right-section h3, .social-section h3 {
	font-size: 16px; /* Decrease font size for smaller screens */
	margin-bottom: 10px;
	display: inline-block;
  }
  
  .left-section p, .right-section p {
	font-size: 14px; /* Decrease font size for smaller screens */
	margin: 0;
  }
  .right-section p svg, .left-section p svg {
	vertical-align: middle; /* Align the clock icon with text */
	margin-right: 5px; /* Add some right margin for spacing */
  }
  .right-section p:last-child, .left-section p:last-child  {
	margin-top: 5px; /* Add some top margin to the last paragraph for spacing */
  }
  
  .social-section a {
	color: white;
	font-size: 20px; /* Decrease font size for smaller screens */
	margin: 0 5px; /* Reduce margin for smaller screens */
	vertical-align: middle;
  }
  
  .footer-container .copyright-section {
	width: 100%;
  }
  
  /* Media Query for screens with a maximum width of 768 pixels (typical for tablets and mobiles) */
  @media only screen and (max-width: 768px) {
	.footer-container {
	  padding: 0 5px; /* Further reduce padding for smaller screens */
	}
  
	.left-section, .right-section, .social-section, .copyright-section {
	  min-width: auto; /* Remove minimum width for smaller screens */
	}
	.left-section {
		text-align: left;
		font-size: 12px;
	  }
	  
	  .right-section {
		text-align: right;
		font-size: 12px;
	  }
	  
  }
  
  
  
  